body {
    color: white;
    background-color: black;
}
#content {
    width: 100%;
}

#map-controls {
    background-color: rgba(255,255,255,0.5);
    float: left;
}

#zoom {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
/*
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: ""
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;

}*/

.hex {
    position: absolute;
}

.hex img {
    position: absolute;
}

.hex-label {
    position: relative;
    float: left;
    top: 95px;
    left: 55px;
    z-index: 1;
}

#toolbar {
    position: fixed;
    bottom: 0px;
}
