{% macro render_map_object(object) %}
<img src="{{ url_for('static', filename='img/spacehex.png') }}" title="{{ object.type }}"/>
{% endmacro %}

{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#toolbar').accordion({
                collapsible: true,
                active: false,
            });

            var selected_hex = null;
            $('.hex').mouseenter(function(ev) {
                if (this != selected_hex) {
                    $(this).children('.hex-border').attr('src', "{{ url_for('static', filename='img/yellowhex.png') }}");
                }
            }).mouseleave(function(ev) {
                if (this != selected_hex) {
                    $(this).children('.hex-border').attr('src', "{{ url_for('static', filename='img/bluehex.png') }}");
                }
            }).click(function(ev) {
                if (selected_hex != null) {
                    $(selected_hex).children('.hex-border').attr('src', "{{ url_for('static', filename='img/bluehex.png') }}");
                }
                for (var obj in eval(this.dataset['hex'])) {
                    console.log(obj);
                    $('#hex-info-title').html(Object.keys(obj)[0]);
                    $('#hex-info-target').html(obj[Object.keys(obj)[0]]);
                }
                if (!$('#toolbar > h3').hasClass('ui-state-active')) {
                    $('#toolbar').accordion('activate', 0);
                }
                selected_hex = this;
                $(this).children(".hex-border").attr('src', "{{ url_for('static', filename='img/redhex.png') }}");
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Map</h1>
    <div id="map" style="position: relative">
    {% for a in range(x, x+w) %}
    {% for b in range(y, y+h) %}
            {% set absx = (a-x)*105 %}
            {% if a%2 == 1 %}
            {% set absy = (b-y)*120+60 %}
            {% else %}
            {% set absy = (b-y)*120 %}
        {% endif %}
        <div class="hex" style="position: absolute; left: {{ absx }}px; top: {{ absy }}px" data-hex="{{ objects["%s, %s" % (a,b)]|tojson }}">
            <img class="hex-border" src="{{ url_for('static', filename='img/bluehex.png') }}" />
            {% for object in objects["%s, %s" % (a, b)] %}
                {{ render_map_object(object) }}
            {% endfor %}
            <div class="hex-label">{{ a }}, {{ b }}</div>
        </div>
    {% endfor %}
    {% endfor %}
    </div>
    <div id="toolbar">
        <h3>
        	<a id="hex-info-title" href="#">Info</a>
        </h3>
        <div id="hex-info-target">
            <p>Select a hex</p>
        </div>
    </div>
{% endblock %}
