{% extends "base.html" %}
{% from "users/_formhelpers.html" import render_field %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form class="well" method="POST" action=".">
        <fieldset>
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ form.hidden_tag() }}
            <button type="submit" class="btn">Login</button>
    </fieldset>
    </form>
    <a href="{{ url_for('users.register') }}">Register</a>
{% endblock %}
