{% extends "base.html" %}
{% from "users/_formhelpers.html" import render_field %}
{% block title %}Register{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Register</h1>
    <form class="well" method="POST" action=".">
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ form.hidden_tag() }}
        <button type="submit" class="btn">Register</button>
    </form>
{% endblock %}
